<div class="container">

  <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-3 bg-lightgrey rounded", local: true) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter email address" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-2 col-form-label" %>
      <div class="col-10">
        <%= f.password_field :password, class: "form-control shadow rounded", placeholder: "Enter your password" %>
      </div>
    </div>


    <div class="form-group">
      <div class="col-10">
      <%= f.submit "Login", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>


</div>
