
<div class="container ">
  <h1 class=" t-4">Article Listing page</h1>
  <p><%= link_to 'Create new Article', new_article_path %></p>
</div>

<div class="container">
  <div class="row">
      <% @articles.each do |article| %>
    <div class="col-sm-6 mt-4">
      <div class="shadow mb-5 bg-white rounded">
        <div class="card">
           <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text text-break"><%= simple_format(article.description) %></p>

            <%= link_to 'View', article_path(article), class: "btn btn-success" %>
            <%= link_to 'Edit', edit_article_path(article), class:"btn btn-info" %>
            <%= link_to 'Delete', article_path(article), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure?"} %>
            <br>
          </div>
          <div class="card-footer text-muted">
            <small>Created by <%= article.user.username %> <%= time_ago_in_words(article.created_at) %> ago
            and edited ago <%= time_ago_in_words(article.updated_at) %></small>
          </div>
        </div>
     </div>
    </div>
   <% end %>
  </div>
</div>
